<%- include header %>
	<div class="wrapper" id="index-page">
        <%- include nav %>
        <div class="page-wrap">
            <div class="interval-header">
                <form id="interval-form">
                    <ul class="cl">
                        <li>
                            <label>用户：</label>
                            <% 
                                var userSelect = '';
                                if( userlists.length == 0 ){
                                  userSelect = 'disabled=disabled';
                                }
                            %>
                            <select <%= userSelect %> id="user-select" class="user-select" name="username">

                                <% userlists.forEach(function(v) {  %>
                                    <option value="<%= v %>" ><%= v %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label>公众平台：</label>
                            <% 
                                var platformSelect = '';
                                if( plat_lists.length == 0 ){
                                  platformSelect = 'disabled=disabled';
                                }
                            %>
                            <select <%= platformSelect %> id="platform-select" class="control-select platform-select" name="platform">
                                <% plat_lists.forEach(function(v) {  %>
                                    <option value="<%= v.name %>" ><%= v.name %></option>
                                <% }) %>
                            </select>
                        </li>
                        <li>
                            <label>执行方式：</label>
                            <select <%= platformSelect %> id="run-mode" class="control-select run-mode" name="mode">
                                <option selected="selected" value="0">重复执行</option>
                                <option value="1">执行一次</option>
                            </select>
                        </li>
                        <li>
                            <label>时间设定：</label>
                            <input <%= platformSelect %> name="time" class="control-select datepicker time" id="datepicker" type="text" value="" />
                        </li>
                        <li>
                            <input <%= platformSelect %> id="add-interval" class="control-select add-interval" type="button" value="添加定时任务" />
                        </li>
                        <li>
                            <input <%= platformSelect %> id="start-all-interval" class="control-select start-all-interval" type="button" value="重新所有定时任务" />
                        </li>
                    </ul>
                    <ul class="cl hide fsend-box" id="fsend-box">
                        <li>
                            <label>群发文章：</label>
                            <select id="fsend-select" class="fsend-select" name="app_id" disabled="disabled">
                                <% fsend_lists.forEach(function(v) {  %>
                                    <option value="<%= v.app_id %>" title="<%= v.app_id %>"><%= v.title %></option>
                                <% }) %>
                            </select>
                        </li>
                    </ul>
                </form>
                <div id="loading" class="loading hide">
                    正在操作中，请稍后...
                </div>
            </div>
            <div class="interval-body">
                <div class="interval-list">
                       <table class="interval-table">
                           <thead>
                               <tr>
                                   <th>任务ID</th>
                                   <th>用户名</th>
                                   <th>平台</th>
                                   <th>标题</th>
                                   <th>app_id</th>
                                   <th>执行方式</th>
                                   <th>启动时间</th>
                                   <th>上次执行时间</th>
                                   <th>执行结果</th>
                                   <th>执行次数</th>
                                   <th>操作</th>
                               </tr>
                           </thead>
                           <tbody id="task-list">
                                <% modeText = ["重复执行", "执行一次"]; %>
                                <% taskList.forEach(function(v){ %>
                                    <tr>
                                        <td><%= v.taskIndex %></td>
                                        <td><%= v.username %></td>
                                        <td><%= v.platform %></td>
                                        <td><%= v.title || '空' %></td>
                                        <td><%= v.app_id || '空' %></td>
                                        <td><%= modeText[+v.mode] %></td>
                                        <td><%= v.time %></td>
                                        <td><%= v.prevTime || '空'  %></td>
                                        <td><%= v.successStatus || 0 %></td>
                                        <td><%= v.excuteNum || 0 %></td>
                                        <td>
                                            <input data-username="<%= v.username %>" data-platform="<%= v.platform %>" data-mode="<%= v.mode %>" data-task-index="<%= v.taskIndex %>" class="remove-interval" type="button" value="删除定时任务" />
                                        </td>
                                    </tr>
                                <% }) %>
                           </tbody>
                       </table>
                </div>
            </div>
        </div>
    </div>
  <script type="text/html" id="fsend-template">
      {{ fsend_lists.forEach(function(v) {  }}
            <option value="{{= v.app_id }}" title="{{= v.app_id }}">{{= v.title }}</option>
      {{ }) }}
  </script>

    <script type="text/html" id="tasklist-template">
        {{ modeText = ["重复执行", "执行一次"]; }}
        {{ taskList.forEach(function(v) {  }}
            <tr>
                <td>{{= v.taskIndex }}</td>
                <td>{{= v.username }}</td>
                <td>{{= v.platform }}</td>
                <td>{{= v.title || '空' }}</td>
                <td>{{= v.app_id || '空' }}</td>
                <td>{{= modeText[+v.mode] }}</td>
                <td>{{= v.time }}</td>
                <td>{{= v.prevTime || '空'  }}</td>
                <td>{{= v.successStatus || 0 }}</td>
                <td>{{= v.excuteNum || 0 }}</td>
                <td>
                    <input data-username="{{= v.username }}" data-platform="{{= v.platform }}" data-mode="{{= v.mode }}" data-task-index="{{= v.taskIndex }}" class="remove-interval" type="button" value="删除定时任务" />
                </td>
            </tr>
        {{ }) }}
    </script>

  <script type="text/html" id="plat_list_template">
      {{ plat_lists.forEach(function(v) {  }}
        <option value="{{= v.name }}" >{{= v.name }}</option>
      {{ }) }}
  </script>
  </body>
</html>